/*Profil positionnement*/
.profil {
  padding: 15px;
  padding-top: 70px;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
  .profil h1 {
    margin: 10px;
    font-size: 28px;
  }
  /*buttons select*/
  .profil .buttons_div {
    margin-bottom: 20px;
    width: 300px;
    height: 70px;
    background-color: rgba(25, 27, 30);
  }
    .buttons_div button {
      width: 100px;
      height: 70px;
      color: white;
      background-color: rgba(25, 27, 30);
      border: none;
      cursor: pointer;
    }
    /*hover effect*/
    .buttons_div button:hover {
      color: rgba(248, 13, 65);
    }
    /*border on button with active class*/
    .buttons_div .activeButton {
      border: 2px solid rgba(248, 13, 65);
    }

.profilComponents {
  width: 90%;
  max-width: 1100px;
}
/* SKILLS */
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.skills .skillsP {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .skillsP h3 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .skillsP ul { 
    width: 300px;
    opacity: 90%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .skillsP ul li {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
    .skillsP .infos {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .skillsP .pourcent {
      width: 100%;
      height: 6px;
      background-color: rgba(25, 27, 30);
    }
      .skillsP .pourcentC {
        width: 0%;
        height: 100%;
        background-color: rgba(248, 13, 65);
        transition: all 2s ease-in-out;
      }

/* EDUCATIONS & EXPERIENCES */
.eeCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.eeRowCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eeRow {
  width: 260px;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}
.eeBloc {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eeInfos {
  padding: 10px 15px;
  width: 250px;
  min-height: 250px;
  height: 100%;
  background-color: rgba(25, 27, 30);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
  .eeInfos h2 {
    text-align: center;
  }
  .eeInfos span {
    opacity: 90%;
    font-size: 14px;
  }
.eeDate {
  padding: 5px 0;
  text-align: center;
  color: rgba(248, 13, 65);
  opacity: 95%;
}

.eeLine {
  width: 100%;
  height: 4px;
  background-color: rgba(248, 13, 65);
  border-radius: 2px;
  position: relative;
}
  .eeLine::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent rgba(248, 13, 65);
  }

.arrowLeft, .arrowRight {
  margin-bottom: 31px;
  border-style: solid;
  cursor: pointer;
}
  .arrowLeft {
    border-width: 15px 25px 15px 0;
    border-color: transparent rgba(25, 27, 30) transparent transparent;
  }
  .arrowRight {
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent rgba(25, 27, 30);
  }


/* RESPONSIVE */
/*Size of elements*/
@media all and (min-width: 380px) {
  .profil .buttons_div {
    width: 360px;
  }
  .buttons_div button {
    width: 120px;
    font-size: 16px;
  }
}
@media all and (min-width: 520px) {
  .profil h1 {
    font-size: 30px;
  }
  .profil .buttons_div {
    width: 450px;
    height: 80px;
  }
  .buttons_div button {
    width: 150px;
    height: 80px;
    font-size: 18px;
  }
  .eeRow {
    width: 320px;
  }
  .eeBloc {
    margin: 0 10px;
  }
  .eeInfos {
    width: 300px;
  }
}
@media all and (min-width: 720px) {
  .profil .buttons_div {
    width: 600px;
  }
  .buttons_div button {
    width: 200px;
    font-size: 20px;
  }
  .skills {
    flex-direction: row;
    gap: 0;
  }
  .skills ul div {
    gap: 10px;
  }
}
@media all and (min-width: 900px) {
  .eeRow {
    width: 660px;
  }
  .eeBloc {
    margin: 0 15px;
  }
}
@media all and (min-width: 980px) {
  .profil h1 {
    font-size: 32px;
  }
  .profil .buttons_div {
    width: 900px;
  }
  .buttons_div button {
    width: 300px;
    font-size: 22px;
  }
  .skillsP ul {
    width: 400px;
  }
}
@media all and (min-width: 1200px) {
  .eeRow {
    width: 990px;
  }
}
