/*Positionnement*/
.profil {
  padding: 15px;
  padding-top: 70px;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
  .profil h1 {
    margin: 10px;
    font-size: 28px;
  }
  /*Buttons select*/
  .profil .buttons_div {
     width: 300px;
     height: 70px;
     background-color: rgba(25, 27, 30);
  }
    .buttons_div button {
      width: 100px;
      height: 70px;
      color: white;
      background-color: rgba(25, 27, 30);
      border: none;
      cursor: pointer;
    }
    /*hover effect*/
    .buttons_div button:hover {
      color: rgba(248, 13, 65);
    }
    /*border on button with active class*/
    .buttons_div .activeButton {
      border: 2px solid rgba(248, 13, 65);
    }

/* RESPONSIVE */
/*Size of elements*/
@media all and (min-width: 520px) {
  .profil h1 {
    font-size: 30px;
  }
  .profil .buttons_div {
    width: 450px;
    height: 80px;
  }
  .buttons_div button {
    width: 150px;
    height: 80px;
    font-size: 18px;
  }
}
@media all and (min-width: 720px) {
  .profil .buttons_div {
    width: 600px;
  }
  .buttons_div button {
    width: 200px;
    font-size: 20px;
  }
}
@media all and (min-width: 980px) {
  .profil h1 {
    font-size: 32px;
  }
  .profil .buttons_div {
    width: 900px;
  }
  .buttons_div button {
    width: 300px;
    font-size: 22px;
  }
}
