@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

.main {
  width: 100%;
  min-height: 100vh;
  font-family: IBM Plex Sans;
  color: white;
  background-color: #212428;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_center {
  padding: 25px 10px;
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.dashboard_div {
  padding: 20px;
  width: 80%;
  min-width: 200px;
  max-width: 400px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #2e3338;
  transition: all 1s ease;
}
  .dashboard_div h2 {
    padding-bottom: 10px;
    font-size: 1.5em;
  }
  .dashboard_div input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    color: black;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }
  .dashboard_div button {
    padding: 10px;
    font-size: 0.9em;
    color: white;
    background-color: #4caf67;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
    .dashboard_div button:hover {
      background-color: #3d9a54;
    }
  .dashboard_div a {
    padding: 10px;
    font-size: 0.9em;
    color: white;
    background-color: #4caf67;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
    .dashboard_div a:hover {
      background-color: #3d9a54;
    }
  .dashboard_div span {
    text-decoration: underline;
    cursor: pointer;
  }
