.main {
  width: 100%;
  min-height: 100vh;
  color: white;
  background-color: #212428;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_div {
  padding: 20px;
  width: 80%;
  min-width: 200px;
  max-width: 400px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #2e3338;
}
.dashboard_div input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
.dashboard_div button {
  padding: 10px;
  color: white;
  background-color: #4caf67;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.dashboard_div button:hover {
  background-color: #3d9a54;
}
