/*Positionnements*/
.projects {
  padding: 15px;
  padding-top: 70px;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .projectsFlex {
    width: 90%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .projects h1 {
    margin: 10px;
    font-size: 28px;
  }
  /*The boxs*/
  .projectBox {
    margin: 10px;
    width: 200px;
    height: 150px;
    border: 2px solid white;

    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s linear;
  }
    .projectBox .box_link {
      width: 100%;
      height: 100%;
    }
      .box_link img {
        width: 100%;
        height: auto;
      }
    /*description div*/
    .projectBox .box_text {
      width: 100%;
      height: 70px;
      text-align: center;
      background-color: rgba(33, 36, 40, 0.8);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      z-index: 2;
      transition: all 0.3s ease-in;
    }
    .projectBox .box_text p {
      font-size: 14px;
    }
      /*Animation on hover effect*/
      .projectBox:hover {
        margin: 5px;
        width: 210px;
        height: 160px;
        border: 3.5px solid rgba(248, 13, 65);
      }

  /*Animation for projects divs appearing in user viewport*/
  .fade-in {
    opacity: 0;
    transition: all 1s ease;
  }

/* RESPONSIVE */
@media all and (min-width: 380px) {
  .projects h1 {
    font-size: 30px;
  }
  .projectBox {
    margin: 15px;
    width: 250px;
    height: 200px;
  }
  .projectBox .box_text p {
    font-size: 16px;
  }
  .projectBox:hover {
    margin: 7.5px;
    width: 265px;
    height: 215px;
  }
}
@media all and (min-width: 900px) {
  .projects h1 {
    font-size: 32px;
  }
  .projectBox {
    margin: 20px;
    width: 350px;
    height: 300px;
  }
  .projectBox .box_text {
    height: 75px;
    transform: translateY(100%);
  }
  .projectBox .box_text p {
    font-size: 18px;
  }
  .projectBox:hover {
    margin: 10px;
    width: 370px;
    height: 320px;
  }
  .projectBox:hover .box_text {
    transform: translateY(0%);
  }
}
