.contact {
  padding: 15px;
  padding-top: 70px;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
  .contact h1 {
    margin: 10px;
    font-size: 28px;
  }
  .contactForm {
    width: 90%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
    .contactInputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
    .contactForm .twoInputs {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    .contactForm label {
      padding-left: 1px;
      height: 20px;
      max-height: 20px;
      overflow: hidden;
      font-size: 15px;
      opacity: 90%;
    }
    .contactForm input {
      padding-left: 10px;
      width: 100%;
      height: 40px;
      background-color: #EEEEEE;
      border-radius: 5px;
      border: none;
      outline: none;
    }
      .contactForm input:focus {
        border: 1px solid black;
      }
    .contactForm textarea {
      padding: 10px;
      resize: vertical;
      width: 100%;
      height: 20px;
      min-height: 40px;
      max-height: 200px;

      font-family: IBM Plex Sans;
      background-color: #EEEEEE;
      border-radius: 5px;
      border: none;
      outline: none;
    }
      .contactForm textarea:focus {
        border: 1px solid black;
      }
    .contactForm button {
      margin-top: 10px;
      width: 150px;
      height: 40px;
      background-color: #EEEEEE;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }


/* RESPONSIVE */
@media all and (min-width: 520px) {
  .contact h1 {
    font-size: 30px;
  }
  .contactForm {
    width: 500px;
  }
}
@media all and (min-width: 980px) {
  .contact h1 {
    font-size: 32px;
  }
  .contactForm {
    width: 600px;
  }
}
