/* Header */
.header {
  padding: 10px 15px;
  width: 100%;
  height: 60px;
  background-color: #212428;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
}
  /*Nav list*/
  .header .headerList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
  }
    .headerList .navListExt {
      overflow: hidden;
    }
    .headerList .navList {
      opacity: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
      transition: all 1s ease-in;
      transform: translateX(100%);
    }
  /*anchor links*/
  .header a {
    font-size: 16px;
    font-weight: 450;
  }
    .header a:hover {
      color: rgba(248, 13, 65);
      font-weight: 500;
      transition: all 0.3s ease-in-out;
    }
  /*Burger icon*/
  .header .burger {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
    .burger .burger1, .burger2, .burger3 {
      width: 30px;
      border-top: 3px solid white;
      border-radius: 1px;
      transition: all 1s ease-in-out;
    }

/* RESPONSIVE */
/*short mobile*/
@media all and (max-width: 320px) {
  .header a {
    font-size: 13px;
  }
}
/*higher than mobile*/
@media all and (min-width: 420px) {
  .header a {
    font-size: 20px;
  }
}